.breadcrumbs {
  margin-bottom: rem(15);

  @include breakpoint(s) {
    margin-bottom: 0;
    padding: $gutter-mobile 0;
    border-bottom: 1px solid $border-color;
  }
}

.breadcrumb-text {
  font-size: rem(16);
  font-weight: normal;
  letter-spacing: normal;
  color: $body-color;
}

.breadcrumb-link {
  font-size: rem(16);
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  color: $heading-color;
  border-bottom-color: transparent;

  &:hover {
    border-bottom-color: $heading-color;
  }
}

.breadcrumb-separator {
  margin: 0 rem(4);
  color: $heading-color;
}
