.giftcard-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  @include breakpoint(s) {
    display: block;
    margin-bottom: $gutter;
  }

  .giftcard-nav-item {
    color: $accent-color;

    @include breakpoint(s) {
      margin: rem(10);
    }
  }
}

.giftcard-form {
  width: 100%;

  .form-field {
    margin-bottom: $gutter;
  }
}

.giftcard-form-actions {
  text-align: center;

  .button-primary {
    margin-bottom: $gutter-half;
    width: auto;
  }
}
