<section
  class="
    products-section
    products-new
    {{#if theme_settings.quick_view}}
      product-listing-quick-view
    {{/if}}
  "
  {{#if settings.data_tag_enabled}}
    data-list-name="{{lang 'data_tags.new'}}"
  {{/if}}
>
  <h1 class="products-section-title products-new-title section-title">
    {{lang 'home.new_products'}}
  </h1>
  <div class="products-section-grid">
    {{#each products}}
      {{> components/product/product-item
        this
        prefix="products-new"
        settings=../theme_settings
        data_tag_enabled=../settings.data_tag_enabled
        event="list"
        position=(add @index 1)
      }}
    {{/each}}
  </div>
</section>
